body {
	margin: 0;
	padding: 0;
}

.clickable {
	cursor: pointer;
	transition:
		transform 0.15s ease,
		filter 0.15s ease;
}
.clickable:hover {
	transform: scale(1.02);
}

.btn-reset {
	all: unset;
	cursor: pointer;
}

.radix-themes {
	--gray-12: #333;
}

.dark .radix-themes {
	--gray-12: #eee;
}

:root,
.light,
.light-theme,
.radix-themes {
	--color-background: #f3f3f3;
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
	--color-background: #111;
}

.app-shell {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.app-shell__bg {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	pointer-events: none;
	z-index: -1;
}
