body {
	margin: 0;
	padding: 0;
}

.clickable {
	cursor: pointer;
	transition:
		transform 0.15s ease,
		filter 0.15s ease;
}
.clickable:hover {
	transform: scale(1.02);
}

.btn-reset {
	all: unset;
	cursor: pointer;
}

.radix-themes {
	--gray-12: #333;
}

.dark .radix-themes {
	--gray-12: #eee;
}
